{% extends 'base.html' %}
{% load static %}

{% block contenido %}

<br>
<br>

<form action='/clientes/cliente_nuevo/' method="post">
    {% csrf_token %}
    <table>
        <p> Nombre de la empresa: <input type = "text" name="nombre">
        <p> Email: <input type = "email" name="email">
        <p> Numero de CUIT: <input type = "number" name="nro_cuit">
        <p> Numero de Cliente: <input type = "number" name="numero_cliente">
        <br>
        <input type = "submit" value="Enviar">
    </table>
 </form>

<br>
<br>

{% endblock %}